:root {
    --main-gray: #fafafa;
    --accent: #9955ed;
    /* --accent: #5c7df2; */
}

body {
    /* display: grid; */
    margin: 0;
    box-sizing: border-box;
    color: var(--main-gray);
    /* grid-gap: 20px; */
    /* justify-items: stretch; */
    /* font-family:  'Open Sans', Arial, Helvetica, sans-serif; */
    font-family: 'Source Sans Pro', 'Open Sans', Arial, Helvetica, sans-serif;
    /* font-family: sans-serif; */
    /* background: #fafafa; */
    background: #161619;
}

h1 {
    font-size: 70px;
    font-weight: 800;

    margin: 40px 0 55px;
    /* margin: 20px 0; */
}

/* .hero::before, */
/* .hero::after {
    background: #aaa;
    background: var(--accent);
    content: '';
    display: block;
    height: 1px;
    margin: 50px auto 0 auto;
    width: 120px;
} */

.hero hr {
    /* width: 10px; */
}

/* 
h1:after {
	content: '^^^^^';
	display: block;
	letter-spacing: -1px;
	position: absolute;
	font-size: 14px;
	font-weight: 800;
	text-align: center;
	top: -100px;
	text-indent: 0px;
	width: 100%;
} */

.hero p {
    font-size: 19px;
    color: #ddd;
    font-weight: normal;
    font-family: 'Noto Serif', serif;
    line-height: 1.5;
}

.hero {
    /* background: linear-gradient(to left top, #5c7df2, #9955ed); */
    /*
        color: white;
        background: #fbfbfb;
        */
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.hero a {
    transition: 0.4s;
    color: var(--main-gray);
    /* 9955ed */
    position: relative;
    /* color: #999; */
    /* border-bottom: 1px solid #9955ed; */
    border-bottom: 1px solid var(--main-gray);
}

.hero a:hover {
    border-bottom: 1px solid var(--accent);
    color: var(--accent);
}


.hero a::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    opacity: 0.3;
    transform: scale3d(0, 1, 1);
    transform-origin: 0% 50%;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.hero:hover a::before {

    transform: scale3d(1, 1, 1);
}

a {
    color: #9955ed;
    /* color: black; */
    text-decoration: none;
    outline: none;
}

.gallery {
    /* border: 1px solid red; */
    /* margin: 0 auto; */
    /* max-width: 1400px; */
    margin: 30px auto;
    padding: 20px 60px;
    max-width: 1500px;
    /* padding: 40px; */
    justify-content: center;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: 220px;
    grid-gap: 55px;
    /* overflow: hidden; */
}

.item {
    /* display: grid; */
    position: relative;
    perspective: 450px;
    transition: 0.4s;
}

.item img {
    /* width: 100%; */
    filter: grayscale(0.2) brightness(90%);
    transition: 0.4s;
    /* grid-column: 1 / -1; */
    /* grid-row: 1 / -1; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transform: rotate3d(.2, .2, .2); */
    /* transform: scale(1); */
}

.item__desc {
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.7);
    position: absolute;
    /* bottom: -20px; */
    left: -17px;
    bottom: 6px;
    right: 0;
    color: black;
    transition: 0.3s;
    color: #ddd;
    font-weight: 800;

    /* color: #ec1752; */
    /* padding: 6px 20px; */
    /* color: #df74ff; */
    /* background: white; */
    /* color: white; */
    /* top: 0; */
    /* bottom: 0; */
}

.item:hover {
    /* transform: rotate3d(-.5,.866, 0, -16deg) rotate(2deg); */

}

.item:hover img {
    filter: grayscale(0) brightness(110%) saturate(110%);
    transform: rotate3d(-.5, .8, 0, -16deg) rotate(2deg);


    /* transform: translate(3px, -3px); */
    /* scale(1.05);  */
    /* transform: translate(2px, 2px) scale(1.06) rotate(2deg) ; */
    /* transform: rotate(2deg); */
}

.item:hover .item__desc {
    /* transform: translate(-4px, 3px);  */
    transform: translate(-2px, -9px);
    color: white;


    /* transform: translate(-10px, 10px); */
    /* transform: rotate3d(.5,.866,0,16deg) rotate(-2deg) translate(-5px, 5px); */

    /* left: 5px; */
    /* color: white; */
}

.item__desc h3 {
    font-size: 50px;
    margin: 0;
    margin-left: -1px;
    font-weight: 800;
    line-height: 55px;

}

.item__desc span {
    /* display: none; */
    /* font-weight: bold; */
    font-size: 30px;
    line-height: 40px;
}

.item__desc span:before {
    content: '―';
    margin-right: 0.6rem;
}